<app-header titulo="Grid"></app-header>

<ion-content class="ion-padding" fullscreen>


  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="3" sizeMd="4" sizeSm="6"
              *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">

        <ion-card>

          <ion-img src="/assets/stan-lee.jpg"></ion-img>

          <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis sapiente voluptate adipisci enim accusantium dolores, totam cumque odit molestiae. Consectetur eum fugit non accusantium quasi dicta sequi voluptate quaerat earum.
          </ion-card-content>

        </ion-card>

      </ion-col>
    
    </ion-row>
  </ion-grid>


</ion-content>
