<app-header titulo="card"></app-header>

<ion-content>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>


  <ion-card>

    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis minus nesciunt eius atque? Beatae sunt adipisci, excepturi corrupti rerum necessitatibus. Accusantium consequuntur consectetur blanditiis tempore facere magnam qui adipisci aliquid?
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Marvel Spider-man</ion-card-title>
    </ion-card-header>
    
    <img src="https://blog.es.playstation.com/tachyon/sites/14/2022/06/adf0c6e3da060a9f9581c12eff047a48668fe616.jpg?resize=1088%2C612&crop_strategy=smart">

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis minus nesciunt eius atque? Beatae sunt adipisci, excepturi corrupti rerum necessitatibus. Accusantium consequuntur consectetur blanditiis tempore facere magnam qui adipisci aliquid?
    </ion-card-content>

  </ion-card>

</ion-content>
